name: 'Open PullRequest Workflow'

on:
  push:
    branches: [ "feat/*" ]
  pull_request:

permissions:
  contents: write
  pull-requests: write

jobs:
  feat-to-develop:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          ref: develop
      - name: Reset ${{ github.ref.name }} branch
        run: |
          git fetch origin ${{ github.ref.name }}:${{ github.ref.name }}
          git reset --hard ${{ github.ref.name }}
      - name: Create Pull Request
        uses: peter-evans/create-pull-request@v8
        with:
          branch: dev-to-${{ github.ref.name }}