name: 'Open PullRequest Workflow'

on:
  push:
    branches: [ "feat/*" ]
  pull_request:

permissions:
  contents: write
  pull-requests: write

jobs:
  ci:
    name: 'Build CI'
    runs-on: ubuntu-latest
    environment: sandbox

    # Use the Bash shell regardless whether the GitHub Actions runner is ubuntu-latest, macos-latest, or windows-latest
    defaults:
      run:
        shell: bash

    steps:
    # Checkout the repository to the GitHub Actions runner
    - name: Checkout
      uses: actions/checkout@v4    

    # Initialize a new or existing Terraform working directory by creating initial files, loading any remote state, downloading modules, etc.
    - name: Docker build
      run: docker build -t luizjoli/myapp:latest .

    # Checks that all Terraform configuration files adhere to a canonical format
    - name: Docker Image Listing
      run: docker images    
  pr:
    name: 'OPEN PR'
    runs-on: ubuntu-latest
    environment: sandbox
    needs: ci

    # Use the Bash shell regardless whether the GitHub Actions runner is ubuntu-latest, macos-latest, or windows-latest
    defaults:
      run:
        shell: bash

    steps:
    # Checkout the repository to the GitHub Actions runner
    - name: Checkout
      uses: actions/checkout@v4    

    - name: OpenPR
      uses: peter-evans/create-pull-request@v8
      with:
        commit-message: Update report
        committer: github-actions[bot] <41898282+github-actions[bot]@users.noreply.github.com>
        author: ${{ github.actor }} <${{ github.actor_id }}+${{ github.actor }}@users.noreply.github.com>
        signoff: false
        branch: develop
        delete-branch: true
        title: '[Example] Update report'
        body: |
          Update report
          - Updated with *today's* date
          - Auto-generated by [create-pull-request][1]

          [1]: https://github.com/peter-evans/create-pull-request
        labels: |
          report
          automated pr
        assignees: luizjoli
        reviewers: luizjoli
        team-reviewers: |
          developers
          qa-team
        milestone: 1
        draft: false