name: 'Open PullRequest Workflow'

on:
  push:
    branches: [ "feat/*" ]
  pull_request:

permissions:
  contents: write
  pull-requests: write

jobs:
  feat-to-develop:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          ref: develop
      - name: Reset ${{ github.ref_name }} branch
        run: |
          git fetch origin ${{ github.ref_name }}:${{ github.ref_name }}
          git reset --hard ${{ github.ref_name }}
      - name: Create Pull Request
        uses: peter-evans/create-pull-request@v8
        with:
          branch: ${{ github.ref_name }}
          commit-message: '${{ github.event.head_commit.message }}'
          committer: github-actions[bot] <41898282+github-actions[bot]@users.noreply.github.com>
          author: ${{ github.actor }} <${{ github.actor_id }}+${{ github.actor }}@users.noreply.github.com>
          title: 'Feature Update: ${{ github.ref_name }}'
          body: |
            Last Commit: ${{ github.event.head_commit.message }}            
            - Auto-generated by [create-pull-request][1]            
          labels: |
            report
            automated pr
          assignees: luizjoli
          reviewers: luizjoli
          team-reviewers: |
            developers